*{
    text-align: center;
    box-sizing: border-box;
}

.container {
    height: 100vh;

}

button, span{
    margin: 20px;
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    /* outline: none; */
    border-radius: 5px;
}

.color-box {
    max-width: 80vw;
    height: 400px;
    max-height: 40vh;
}

/* span{
    display: inline-block;
    background-color: black;
    color: white;
    font-size: 20px;
    font-weight: 200;
    padding: 20px;
    margin: auto;
    border: 2px solid white;
} */

